body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(245, 245, 245);
}

.App {
  /* border: 1px solid red; */
  margin: 0 1rem 1rem 1rem;
}

.row1 {
  display: flex;
  justify-content: space-between;
}